# Environments
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class

# Credentials (CRITICAL)
serviceAccountKey.json
.env

# Build Artifacts
build/
dist/
*.spec

# Data & Storage
data_storage/
captured_images/
temp_labeling/

# IDE
.vscode/
.idea/
